<h1>Вход</h1>
<%unless flash[:alert].blank?%>
  <h2 style = 'color:red'><%=flash.inspect%></h2>
<%end%>

<%=form_with scope: :session, url: session_path, data: { turbo: false} do |f|%>
	
		<div>
			<%= f.label :username, "Логин:", style: "display: block" %>
			<%=f.text_field :username, require: true, id: 'Username', placeholder: "Логин" %><br/>
		</div>
		<div>
			<%= f.label :password, "Пароль:", style: "display: block" %>
			<%=f.password_field :password, require: true, id: 'Password', placeholder: "Пароль"%><br/>
		</div>
        <br>
		<div>
			<%=f.submit :password, value: 'Войти',require: true%>
		</div>
	
<%end%>
<ul class="log">
    <li><a><%= link_to 'Регистрация', new_user_path%></a></li>
	<li><a><%= link_to 'Назад', home_path%></a></li>
</ul>
