<%= flash[:warning]%>
<%= form_with model: @user, url: password_reset_path, method: :patch do |f| %>
    <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "#{t('form.error')}") %>  <%= "#{t('form.uncorrect_user')}"%></h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :password_reset_token, value: @user.password_reset_token_digest %>
  <%= f.hidden_field :email, value: @user.email %>

  <div style="text-align: center">
    <h1><%= "#{t('reset.new_pass')}"%></h1>

    <div>
      <%= f.password_field :password, id: "Password", placeholder: "#{t('reset.new')}"%>
    </div>
 


    <div >
      <%= f.password_field :password_confirmation, id: "Password_confirmation", placeholder: "#{t('activerecord.attributes.user.password_confirm')}:" %>
    </div>
  

  <%= f.submit "#{t('reset.new_pass')}" %>
  </div>
<% end %> 
