<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "#{t('form.error')}") %> <%= "#{t('form.uncorrect_user')}"%></h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, "#{t('activerecord.attributes.user.username')}:", style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, "#{t('activerecord.attributes.user.email')}:",style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, "#{t('activerecord.attributes.user.password')}:", style: "display: block" %>
    <%= form.password_field :password, id: "Password"%>
  </div>

  <div>
    <%= form.label :password_confirmation, "#{t('activerecord.attributes.user.password_confirm')}:", style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <% if current_user.present?%>
  <% if current_user.admin?%>
  <div>
    <%= form.label :role, "#{t('activerecord.attributes.user.role')}:", style: "display: block" %>
    <%= form.text_field :role %>
  </div>
  <%end%>
  <%end%>

  <br>
  <div>
    <%= form.submit "#{t('new_post.button')}"%>
  </div>
<% end %>
