<div id="<%= dom_id user %>">
  <p>
    <strong><%="#{t('activerecord.attributes.user.username')}:"%></strong>
    <%= user.username %>
  </p>

  <p>
    <strong><%="#{t('activerecord.attributes.user.email')}:"%></strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%="#{t('activerecord.attributes.user.role')}:"%></strong>
    <%= user.role %>
  </p>



</div>
