<p style="color: green"><%= notice %></p>


<h1><%="#{t('users.list')}"%></h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "#{t('static_pages.profile')}:", user %>
    </p>
  <% end %>
</div>

<%= link_to "#{t('new_user.new')}", new_user_path %>
