<p style="color: green; margin-left: 50px "><%= notice %></p>

<div style="margin-left: 50px"><%= render @user %></div>

<div style="margin-left: 50px">
  <%= link_to "#{t('show.edit')}", edit_user_path(@user) %>
  <% if current_user.present? && current_user.admin?%> |
  <%= link_to "#{t('show.to_list')}", users_path %>
  <% end%> |
  <%= link_to "#{t('show.homepage')}", home_path%>
  <br>
  <br>
  
  <%= button_to "#{t('show.delete')}", @user, method: :delete %>
  <% if current_user.present?%>
  <p><%= button_to "#{t('show.log_out')}", session_path, method: :delete%></p>
  <% end %>
</div>
