<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Редактировать", edit_user_path(@user) %> |
  <%= link_to "К списку пользователей", users_path %> |
  <%= link_to "На главную", home_path%>
  <br>
  <br>
  <%= button_to "Удалить", @user, method: :delete %>
</div>
