<p style="color: green; margin-left: 50px "><%= notice %></p>

<div style="margin-left: 50px"><%= render @user %></div>

<div style="margin-left: 50px">
  <%= link_to "Редактировать", edit_user_path(@user) %>
  <% if current_user.present? && current_user.admin == true%> |
  <%= link_to "К списку пользователей", users_path %>
  <% end%> |
  <%= link_to "На главную", home_path%>
  <br>
  <br>
  
  <%= button_to "Удалить", @user, method: :delete %>
  <% if current_user.present?%>
  <p><%= button_to 'Выйти', session_path, method: :delete%></p>
  <% end %>
</div>
