
<div id="<%= dom_id post %>">
  <h2 style="color: #e49a12">
    <%= post.title %>
  </h2>

  <h3>
    <%= post.summary %>
  </h3>

  <% if current_page?(controller: 'posts', action: 'show', id: post.id)%>
    <p class="fs-1">
      <%= post.formatted_description %>
    </p>
  <% end%>

  <h5><%= "#{t('news.published')}"%> 
    <% user = User.find_by(id: post.user_id)%>
    <%= "@#{user.username}"%> |
    <%= post.created_at %>
  </h5>

</div>

