<p style="color: green"><%= notice %></p>


<%=pluralize(@posts.count, "Result")%>

<div class="container">
  <div class='row'>
      <div class= "col-6">
          <div id="posts">
              <h1>Последние новости:</h1>
              <%= turbo_frame_tag 'frame1' do%>
                <%=render 'search' %>
              <%end%>
          </div>
      </div>
      
      <div class= "col-6">


          <h2 style="color: #c78406">Поиск:
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_start, placeholder: 'Найти...' %>
          <%= f.submit %>
        <%end%>
        </h2>

          <% if current_user.present? %>
          <% if current_user.admin? || current_user.moder?%>
          <h1>
            <%= link_to "Добавить новость", new_post_path%>
          </h1>
            <%end%>
          <%end%>
      </div>
  </div>
</div>
