<p style="color: green"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <div class= "col-6">
    
      <%= render @post %>


      <div>
      <% if current_user.present? %>
          <% if current_user.admin? || owner%>
          <%= link_to "#{t('show.edit')}", edit_post_path(@post) %> |
          <% end %>
        <%end%>
          <%= link_to "#{t('show.to_news')}", posts_path%>
          <br>
          <br>
        <% if current_user.present? %>
          <% if current_user.admin? || owner%>
          <%= button_to "#{t('show.delete')}", @post, method: :delete %>
          <% end%>
        <%end%>
      </div>

    </div>
  </div>
</div>