<p style="color: green"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <div class= "col-6">
    
      <%= render @post %>


      <div>
        <% if policy(@post).update?%>
        <%= link_to "Редактировать", edit_post_path(@post) %> |
        <% end %>
        <%= link_to "К другим новостям", news_path%>
        <br>
        <br>
        <% if policy(@post).destroy?%>
        <%= button_to "Удалить", @post, method: :delete %>
        <% end%>
      </div>

    </div>
  </div>
</div>